html {
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: underline;
}

.text-xs {
    font-size: 0.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
}
.text-lg {
    font-size: 1.25rem !important;
}
.text-xl {
    font-size: 1.5rem !important;
}

.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.fs-5 {
    font-size: 2.48832rem !important;
}

.fs--1 {
    font-size: 0.83333rem !important;
}

.cursor {
    &-pointer {
        cursor: pointer;
    }
}

.text-through {
    text-decoration: line-through;
}
.text-xs {
    font-size: 0.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
}
.text-lg {
    font-size: 1.25rem !important;
}
.text-xl {
    font-size: 1.5rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.pvr-header {
    padding-bottom: 0.6rem;
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        background-color: var(--bs-primary);
        width: 8rem;
        height: 3px;
        border-radius: 2px;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
    }
}

input[type="file"].file-upload-m {
    position: absolute;
    overflow: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload--img-u {
    .upload-image {
        background-color: rgb(221, 221, 221);
        width: 8rem;
        height: 9rem;
        padding: 0;
        border-radius: 0.375rem;
        border: 1px solid rgba(102, 102, 102, 0.3);
        position: relative;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .upload-image img {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: inherit;
    }

    img {
        max-width: 100%;
        border-style: none;
        object-fit: cover;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.3s ease;
        backface-visibility: hidden;
    }

    .upload-image:after {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .upload-image {
        position: relative;
    }

    .middle {
        transition: 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .upload-image:hover img {
        opacity: 0.3;
        cursor: pointer;
    }

    .upload-image:hover .middle {
        opacity: 1;
    }
}
