
// Color system
$blue: #2c7be5;
$indigo: #727cf5;
$purple: #6b5eae;
$pink: #ff679b;
$red: #e63757;
$orange: #fd7e14;
$yellow: #f5803e;
$green: #00d27a;
$teal: #02a8b5;
$cyan: #27bcfd;
$white: #fff;
$gray: #748194;
$gray-dark: #4d5969;



// Components
// Define common padding and border radius sizes and more.

$box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1),0 3px 6px 0 rgba(0,0,0,0.07);

$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;



// Card

$card-border-radius:                $border-radius-lg;



// scss-docs-start theme-color-variables
$secondary: #8dba1f;
$primary: #11629f;
$success: #00d27a;
$info: #27bcfd;
$warning: #f5803e;
$danger: #e63757;
$light: #f9fafd;
$dark: #0b1727;


// Body
//
// Settings for the `<body>` element.
$body-bg: #edf2f9;
$body-color: #5e6e82;


// Links
//
// Style anchor elements.

$link-decoration: none;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows: true;


// root vars
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
