.avatar img {
    object-fit: cover;
}

.avatar img,
.avatar .avatar-name {
    width: 100%;
    height: 100%;
}

.avatar img {
    display: block;
}

.avatar-xl {
    height: 2rem;
    width: 2rem;
}

.avatar {
    position: relative;
    display: inline-block;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
