/* -------------------------------------------------------------------------- */
/*                                    Badge                                   */
/* -------------------------------------------------------------------------- */

@mixin badge-soft-variant($color) {
    background-color: var(--bs-#{$color});
    &[href] {
        @include hover-focus {
            text-decoration: none;
            color: var(--#{$variable-prefix}badge-soft-#{$color}-color);
        }
    }
}

@each $color, $value in $theme-colors {
    .badge-soft-#{$color} {
        @include badge-soft-variant($color);
    }
}