.navbar .dropdown-menu.dropdown-menu-end:after {
    right: 0.95rem;
    left: auto;
}

.navbar .dropdown-menu:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1rem;
    height: 1rem;
    background: #000;
    top: -0.375rem;
    left: 1.8rem;
    transform: rotate(45deg);
    background: inherit;
    border-radius: 0.125rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--falcon-dropdown-border-color);
    box-shadow: var(--falcon-box-shadow-sm);
}
