//SIDEBAR
.wrapper-dash {
    width: 100%;
}

body.sidebar-show {
    #sidebar {
        &.active {
            margin-left: 0 !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .close-layer {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: auto;
        content: "";
        z-index: 9999;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.35);
        transition: all 370ms ease-in;
    }

    body.sidebar-show .close-layer {
        opacity: 1;
        visibility: visible !important;
    }
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    height: 100vh;
    overflow-y: auto;
    background: $primary;
    color: #fff;
    transition: all 0.3s;

    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    overflow-y: auto;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    z-index: 10000;

    @include media-breakpoint-up(lg) {
        transition: none;
    }

    .h6 {
        color: $white;
    }

    @include media-breakpoint-down(lg) {
        &.active {
            margin-left: -270px;
            .custom-menu {
                margin-right: -50px;
            }
        }
    }

    h1 {
        margin-bottom: 20px;
        font-weight: 700;
        .logo {
            color: $white;
            text-decoration: none;
        }
    }
    ul.components {
        padding: 0;
    }

    ul {
        li {
            font-size: 16px;
            > ul {
                margin-left: 10px;
                li {
                    font-size: 14px;
                }
            }
            a {
                padding: 10px 0;
                display: block;
                color: rgba(255, 255, 255, 0.6);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                text-decoration: none;
                &:hover {
                    color: $white;
                }
            }
            &.active {
                > a {
                    background: transparent;
                    color: $white;
                }
            }
        }
    }

    .footer {
        p {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

#sidebarCollapse {
    span {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#main-content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    .custom-menu {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow 0.15s ease-in-out;
        color: rgba(0, 0, 0, 0.55);
        border-color: rgba(0, 0, 0, 0.1);
    }

    @include media-breakpoint-up(lg) {
        padding-left: 270px;
        transition: none;
    }
}

.profile-dropdown::after {
    vertical-align: 50%;
}

.profile-dropdown.admin::after {
    vertical-align: 10%;
}
